<div class="container signup">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="page-header">
        <h1 class="text-center">Welcome to <span class="logo"><span class="the">The</span>News</span></h1>
      </div>
      <%= render "form.html",
          changeset: @changeset,
          action: signup_path(@conn, :create) %>
    </div>
  </div>
</div>

