@import "bootstrap/variables";

body > .container,
body > .container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

a, a:active, a:hover, a:visited {
  color: $gray;
}

.logo {
  font-weight: lighter;
  text-transform: uppercase;
  .the {
    font-weight: bold;
  }
}

.navbar-brand {
  font-size: 24px;
  font-weight: lighter;
}
