@import "bootstrap/variables";

.sidebar {
  padding-right: 0;

  .menu-title {
    padding-bottom: 9px;
    margin: 0 15px;
    padding: 0 0 5px 0;
    border-bottom: 1px solid $gray-light;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5);

    h3 {
      color: $gray;
      overflow: hidden;
      font-family: 'Raleway', sans-serif;
      font-size: 21px;
      text-transform: uppercase;
      margin: 30px 0 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  h3, li {
    // font-family: 'Marcellus SC', serif;
    // font-family: 'Alice', serif;
    // font-family: 'Gentium Book Basic', serif;
    // font-family: 'Vidaloka', serif;
    // font-family: 'Cinzel', serif;
  }

  li {
    color: $gray;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-left: 2px solid transparent;
    padding: 10px 15px;
    margin: 10px 0 0 10px;
    transition: border .5s ease-in-out;

    i {
      text-align: center;
      width: 20px;
    }
  }

  li:hover {
    border-left: 2px solid $gray;
  }
}
