@import "bootstrap/variables";

.story {
  background: $white-base;

  .cover {
    padding-left: 0;
    text-align: center;
  }

  .cover img {
    width: 100%;
    max-width: 1240px;
  }

  .author {
    margin: 45px 0 15px 0;
    font-weight: bold;
  }

  .content {
    font-size: $font-size-large;
    margin-top: 45px;
  }
}
